.correction{
    ol > li{
        font-weight: 400;
        font-size: 16px;
    }
    h2{
        color: #000;
        margin-bottom: 15px;
    }
    td {
        border: 1px dotted rgb(83, 83, 83);
        min-width: 100px;
        padding: 5px;
    }
}
