@import "custom.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "./aside.scss";
@import "./mixins.scss";
@import "./order-form.scss";
@import "./buyer-popup.scss";
@import "./common-second-site.scss";
@import "./special_offer.scss";
@import "./dont-leave.scss";
@import "./responsive.scss";
@import "./odometer-train-station.scss";
@import url("https://fonts.googleapis.com/css?family=Economica|Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  background: #efefef;
  font-family: "Georgia", sans-serif;
  color: #3d3d3d;
}

.container {
  margin: 0px auto;
}

.shipping,
.special,
.correction,
.bigger,
.smaller {
  max-width: 900px !important;
  background-color: white;
  margin-top: 20px;
  max-width: 745px;
  padding: 30px;
}

//h1,
//h2,
//h3,
//h4,
//h5,
//h6 {
//    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//}

img {
  max-width: 100%;
}

del,
.red {
  color: red;
}

.green {
  color: green;
}

.info-box {
  position: fixed;
  top: 0;
  left: 1%;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 9999;
  max-width: 220px;

  img {
    max-width: 220px;
  }
  .ban-big {
    @media (max-width: 1450px) {
      display: none !important;
    }
  }
  .ban-small {
    max-width: 125px !important;
    @media (min-width: 1450px) {
      display: none !important;
      width: 125px !important;
    }
    @media (max-width: 1250px) {
      display: none !important;
    }
  }
}

@media (min-width: 1450px) {
  .info-box {
    width: 220px;
  }
}

.header-main {
  color: #820000;
  margin-bottom: 30px;
  margin-top: 40px;
  font-weight: 500;
  line-height: 1em;
  font-size: 40px;
  word-wrap: normal;
}



@media (max-width: 676px){
  .baner_one {
     display: none;
  }
}

@media (min-width: 676px){
  .baner_two {
     display: none;
  }
}

.main-list {
  li {
    margin-bottom: 15px;
  }
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #820000;
}

h2 {
  font-weight: 700;
  color: #cc0000;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

.orange-txt {
  color: orangered;
  font-weight: bold;
}


.doc {
  float: right;
  width: 40%;
  margin-bottom: 10px;
  margin-left: 40px;

  @media (max-width: 767px) {
    margin-left: 10px;
  }

  @media (max-width: 425px) {
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

.product {
  width: 80%;
}

.spec {
  font-size: 22px;
  line-height: 28.6px;
  padding-left: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 26px;
}

.bor-left {
  padding-left: 30px;
  border-left: 3px dashed #e5e5e5;
  margin-left: 10px;
}

p {
  line-height: 24px;
  font-size: 16px;
}

main {
  margin-top: 20px;

  @media (max-width: 575px) {
    margin-top: 0;
  }
}

.wrap {
  margin: 0 auto;
  min-height: 500px;
  border: 1px solid black;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  font-family: georgia;
  line-height: 25px;
  width: 100%;

  @media (max-width: 575px) {
    border: 0;
  }
}

.guarantee {
  width: 80%;
  display: block;
  margin: auto;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.main-content {
  margin: 20px;
  max-width: 630px;
}

.navbar-brand {
  padding: 0 0 7px 0;

  >img {
    height: 24px;
  }
}

.text-red {
  color: #cc0000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

ul,
ol {
  padding-left: 32px;
}

li {
  font-size: 16px;
  line-height: 24px;
}

main {
  h2 {
    margin-bottom: 19px;
  }
}

.important {
  display: inline;
  font-size: 1.125rem;
  background-color: yellow;
  color: #c90000;
  font-weight: 700;
  letter-spacing: -0.6px;
  font-family: Helvetica;
}

.product-wrapper {
  position: relative;
}

.satisfaction {
  position: absolute;
  width: 100px;
  right: 180px;
  bottom: 9px;

  @media (max-width: 767px) {
    right: 213px;
    bottom: 8%;
  }

  @media (max-width: 576px) {
    right: 180px;
    bottom: 9px;
  }
}

.fa-star:before {
  color: #ffe216;
}

.hel {
  position: relative;
  z-index: 4;

  .warranty-head {
    font-size: 28px;
    font-weight: 700;
    color: #5b5b5b;
  }
}

@media (max-width: 767px) {
  .satisfaction {
    right: 213px;
    bottom: 48%;
  }
}

@media (max-width: 567px) {
  .satisfaction {
    right: 100px;
  }
}

@media (max-width: 450px) {
  .satisfaction {
    right: 9px;
    top: 32%;
  }
}

.number-left {
  position: absolute;
  top: 30%;
  width: 70%;
  display: block;
  width: 150px;

  @media (max-width: 767px) {
    position: relative;
    top: 0px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.numbers-row {
  display: flex;
  font-size: 25px;
  font-weight: bold;

  span {
    background: linear-gradient(180deg,
        rgba(106, 106, 106, 1) 0%,
        rgba(138, 138, 138, 1) 6%,
        rgba(255, 255, 255, 1) 51%,
        rgba(219, 219, 219, 1) 87%,
        rgba(138, 138, 138, 1) 100%);
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    border: 1px solid black;
  }
}

.yellow-box {
  background-color: #ffffec;
  padding: 15px;
  border: 1px solid gray;
  margin-bottom: 30px;

  h4 {
    font-weight: 700;
    font-size: 26.6px;
    line-height: 1.6em;
  }
}

// warranty ---->
.hel {
  position: relative;
  z-index: 4;

  .signature-2 {
    position: absolute;
    width: 200px;
    bottom: 10%;
    left: 7%;
  }

  .signature-3 {
    position: absolute;
    width: 117px;
    bottom: 8%;
    left: 76%;
  }

  .seal {
    width: 150px;
    position: absolute;
    z-index: 50;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    right: 1%;
    bottom: 0px;
  }
}

.warranty {
  border-radius: 10px;
  padding: 12px 24px;
  text-align: center;
}

.warning {
  background-color: #e9f8e6;
  padding: 12px 24px;
  text-align: center;
  margin: 30px 0;

  h4 {
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
    margin: 8px 0;
  }
}

.warning-box {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: auto;
  border: 1px solid #000;
  margin: 24px auto;
  padding: 4px 18px 12px;

  h4 {
    color: red;
  }
}

ol,
ol>li>h4 {
  font-weight: 700;
}

ol>li>p {
  font-weight: 400;
  font-size: 16px !important;
}

.hvr-scale {
  &:hover {
    background-color: white;
    transition: 0.3s ease 0.3s;
    z-index: 100;
    box-shadow: 12px 20px 10px -10px rgba(196, 194, 194, 0.5);
  }

  &Left {
    &:hover {
      transform: scale(1.88) translateX(82px);
    }
  }

  &Right {
    &:hover {
      transform: scale(2) translateX(-80px);
    }
  }
}

.footer {
  a {
    color: grey;
    font-size: 14px;
  }
}

.universal {
  .legend {
    display: block;
    background-color: #cacaca;
    font-family: "Lato", sans-serif;
  }
}

figcaption {
  // max-width: 630px;
  background: #ddd;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  margin-top: 4px;
}

.green-ordered-list {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-bottom: 20px;

  p {
    color: black;
  }

  h2 {
    text-transform: uppercase;
  }
}

.green-ordered-list li {
  counter-increment: my-awesome-counter;
  color: red;
}

.green-ordered-list li::before {
  content: counter(my-awesome-counter, upper-roman) ". ";
  color: black;
  font-weight: bold;
  position: absolute;
  font-size: 25px;
  left: 12px;
}

.highlighted {
  display: inline-block;
}

.highlighted span {
  background: yellow;
  font-size: 20.5px;
}

.results {
  text-align: center;

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 13px;
    line-height: 15px;
  }
}

.results h3 {
  margin: 10px 0;
  text-transform: uppercase;
}

li {
  font-weight: normal;
}

.center-heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #820000;
}

@media (max-width: 768px) {
  .ingredient {
    float: none;
    width: 150px;
    margin: 0 auto;
    display: block;
  }

  .ingredient-2 {
    float: none;
    width: 150px;
    margin: 0 auto;
    display: block;
  }
  h2 {
    margin-bottom: 21px;
    font-size: 21px;
  }

}

@media (min-width: 768px) {
  .ingredient {
    float: right;
    width: 150px;
  }

  .ingredient-2 {
    float: right;
    width: 150px;
    margin-top: -20px;
  }
}

#exitpopup-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);

  div.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .popup {
      background-color: white;
      width: 750px;
      max-width: 100%;
      padding: 20px;
      border-radius: 15px;
      text-align: center;

      .title {
        font-size: 77px;
        font-weight: bold;

        color: red;
      }

      .smaller {
        font-size: 27px;

        span {
          font-weight: 700;
        }
      }

      .bigger {
        font-size: 22px;

        .red {
          color: red;
        }
      }

      button {
        padding: 20px;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .actions__cancel:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  #exitpopup-modal {
    display: none !important;
  }

  .header-main {
    margin-top: 10px !important;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
  }

  .yellow-box h4 {
    font-size: 18px;
    line-height: 1.2;
  }
  .copywrites {
    font-size: 12px !important;
  }
  .doctor{
    width: 90%;
    text-align: right;
  }
}



$phoneBoxColor : #001a79;

.phone-box {
  background: $phoneBoxColor;
  max-width: 220px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: fixed;
  box-shadow: 1px 1px 20px #0000003d;
  
  p {
    font-size: 13px;
    text-align: center;
    color: #fff;
    margin: 0;
  }

  span {
    width: 90%;
    background: #fff;
    display: block;
    font-size: 28px;
    margin: 0 auto;
    text-align: center;
    color: $phoneBoxColor;
  }
}

@media (max-width: 1414px) {
  .phone-box {
    max-width: 150px;
  }

  span {
    font-size: 20px ;
  }
}

@media(max-width: 1280px) {
  .phone-box {
    max-width: 137px;
    padding: 10px 0;
  }

  span {
    font-size: 18px;
  }
  p {
    font-size: 16px !important;
    line-height: 18px;
  }
}

@media (max-width: 1254px) {
  .phone-box {
    display: none;
  }
}