.thanks-bg{
    background-image: url('../img/bg_thanks.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    .container{
        background-color: rgba(255, 255, 255, 0);
    }
}

.summery-table, td, tr{
    border: none !important;
}

h1{
    color: #3f6e80;
}

.thanks {
    width: 500px;
}