<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PROMOCJA</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container" style="background-color: #DFE2E5; overflow: hidden;">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 p-5 bg-light">
          <h1 class="text-center">Jeszcze lepsza okacja!</h1>
          <h2 class="text-center" style="color: #000;">Przez najbliższe:</h2>
          <div class="row">
            <div class="col-12">
              <div id="countdownExample">
                <div class="values"></div>
              </div>
            </div>
          </div>
          <p class="text-center">
            BioSlices <br />
            o 2x wyższym stężeniu składników aktywnych
          </p>
          <img
            class="img-fluid w-50 d-block mx-auto"
            src="../assets/img/Arthroflex_mockup_gauss_970.png"
            alt="product box"
          />

          <br />
          <br />
          <h4 class="text-center">
            <b><s>317zł</s> 141zł</b>
          </h4>
          <p class="text-center">
            Zamów <u>dzisiaj</u> i oszczędź 276 zł, otrzymaj darmową wysyłkę i
            gwarancję satysfakcji. Jutro promocja przepada.
          </p>
          <div class="row justify-content-center">
            <a href="./shipping-form.html">
              <button class="btn btn-success px-5 py-3 my-4">
                DODAJ DO KOSZYKA
              </button>
            </a>
          </div>
          <div class="row justify-content-center">
            <img class="my-3" src="../assets/img/pl_satisfaction.png" alt="" />
          </div>
          <div class="footer" style="font-size: 16px; text-align: center;">
            <br />
            <a href="#">Polityka Prywatności</a> | <a href="#">Regulamin</a> |
            <a href="#">Kontakt</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
