<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dziękujemy za złożenie zamówienia</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/special_offer.css" />
  </head>
  <body>
    <style>
      button {
        text-shadow: 1px 1px #333;
        font-family: "Times New Roman";
      }
      h1 {
        font-family: tahoma !important;
        font-size: 1.5rem;
        font-weight: 900;
      }
      .btn--warranty {
        font-weight: 700;
        max-width: 476px;
      }
      li {
        font-weight: 400;
      }
      p {
        font-size: 14px;
      }
    </style>
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-10 py-5">
          <h1 class="text-center shadowed-text">
            Uwaga: ważna informacja dotycząca Twojego <br />
            zamówienia [dofinansowanie!]
          </h1>
          <p>
            Dziękujemy za potwierdzenie danych – dzięki temu Twoje zamówienie
            zostanie wysłane <b>w pierwszej kolejności.</b>
          </p>
          <p class="font-weight-bolder">
            A to nie koniec dobrych wiadomości...
          </p>
          <p>
            Po weryfikacji Twoich danych adresowych okazało się, że mieszkasz na
            obszarze, którego mieszkańcy zostali objęci
            <b>dodatkowym dofinansowaniem wkładek ArhtroFlex .</b>
          </p>
          <p>
            <b>Dodatkowe dofinansowanie umożliwia Ci</b> odbiór opakowania
            wkładek o mocy 970 Gs za jedyne
            <span style="text-decoration: line-through;">317&nbsp;zł</span>
            97&nbsp;zł.
          </p>
          <p>
            Wykorzystując zniżkę, możesz powiększyć swoje zamówienie do pełnej
            kuracji za niewielką dopłata (dopłacisz jedynie 54 zł, w tej
            sytuacji znaczną część kosztów kuracji bierze na siebie producent).
          </p>
          <p>
            Jeśli nie wykorzystasz jej teraz, szansa ta zostanie przekazana
            komuś innemu.
          </p>
          <br />
          <h1 class="text-center shadowed-text">
            Dlaczego warto z niej skorzystać?
          </h1>
          <img
            class="float-left img-fluid m-3"
            src="../assets/img/mockup_425_30.png"
            alt="two big bottles image"
            style="width: 150px; padding-right: 15px;"
          />
          <br />

          <ol>
            <li>
              pamiętaj, że jedynie wersja specjalna gwarantuje Ci uzyskanie
              efektów przedstawionych na stronie (a rozumiem, że na ich
              uzyskaniu Ci zależy),
            </li>
            <li>
              odebranie dodatkowego opakowania to najwygodniejsza i najbardziej
              opłacalna opcja, która pozwala na najszybsze uzyskanie pożądanych
              rezultatów kuracji,
            </li>
            <li>
              jedynie wersja specjalna objęta jest też gwarancją potrójnej
              satysfakcji – wybierając ją, zyskujesz dodatkowo specjalistyczny
              monitoring efektów. Dzięki temu, jeśli z jakichkolwiek przyczyn
              nie spełnią one Twoich oczekiwań – otrzymasz dodatkowe wsparcie i
              pełne dopasowanie kuracji do cech indywidualnych Twojego
              organizmu.
            </li>
          </ol>
          <p>
            Jest to oferta ograniczona czasowo i ilościowo – w związku z tym, że
            z punktu widzenia producenta jest na granicy opłacalności
            wyświetlona jest jedynie osobom, które do tej pory zdecydowały się
            na preparat o podstawowej mocy (zaledwie 9% Klientów!). Będzie
            aktywna jeszcze tylko 5 minut, dlatego <b>działaj szybko.</b>
          </p>
          <div class="row justify-content-center">
            <div class="p-2">
              <a href="./thanks.html" class="d-block mb-2">
                <button
                  value="1"
                  class="btn btn-success btn--warranty"
                  style="font-size: 19px;"
                >
                  Tak, chcę skorzystać z dofinansowania i <br />odebrać preparat
                  o zwiększonej mocy<br />
                  za niewielką dopłatą >>>
                </button>
              </a>
              <a href="./thanks.html">
                <button
                  value="2"
                  class="btn btn-dark btn--warranty"
                  style="letter-spacing: -.3px; font-size: 14px; color: #999; width: 100%;"
                >
                  Nie, nie potrzebna mi już gwarancja, że osiągnę swój cel.
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
