.correction ol > li {
  font-weight: 400;
  font-size: 16px; }

.correction h2 {
  color: #000;
  margin-bottom: 15px; }

.correction td {
  border: 1px dotted #535353;
  min-width: 100px;
  padding: 5px; }

